{{!-- Form --}}
<div class="container m-2">
  <form action='/restaurant' method="POST">
    <div class="form-group mt-2">
      <label for="image">餐廳圖片</label>
      <input type="text" class="form-control" id="image" placeholder="ex: https...jpg" name="image"
        value="{{restaurant.image}}">
    </div>
    <div class="form-group mt-2">
      <label for="name">餐廳名稱(中文)</label>
      <input type="text" class="form-control" id="name" placeholder="ex: 麥當勞" name="name" value="{{restaurant.name}}">
    </div>
    <div class="form-group mt-2">
      <label for="name_en">餐廳名稱(英文)</label>
      <input type="text" class="form-control" id="name_en" placeholder="ex: McDonald" name="name_en"
        value="{{restaurant.name_en}}">
    </div>
    <div class="form-group mt-2">
      <label for="category">餐廳分類</label>
      <select class="form-control" id="category" name="category">
        <option style="display:none">請選擇餐廳分類</option>
        <option>義式餐廳</option>
        <option>日本料理</option>
        <option>美式餐廳</option>
        <option>中東料理</option>
        <option>咖啡廳</option>
        <option>酒吧</option>
      </select>
    </div>
    <div class="form-group mt-2">
      <label for="location">餐廳地址</label>
      <input type="text" class="form-control" id="location" placeholder="ex: 我家巷口" name="location"
        value="{{restaurant.location}}">
    </div>
    <div class="form-group mt-2">
      <label for="phone">聯絡電話</label>
      <input type="text" class="form-control" id="phone" placeholder="ex: 0800-888-888" name="phone"
        value="{{restaurant.phone}}">
    </div>
    <div class="form-group mt-2">
      <label for="google_map">Google地圖</label>
      <input type="text" class="form-control" id="phone" placeholder="ex: https://goo.gl/maps/..." name="google_map"
        value="{{restaurant.google_map}}">
    </div>
    <div class="form-group mt-2">
      <label for="rating">評價(最高5分，最低0分)</label>
      <input type="text" class="form-control" id="rating" placeholder="ex: 4.5" name="rating"
        value="{{restaurant.rating}}">
    </div>
    <div class="form-group mt-2">
      <label for="description">餐廳簡介</label>
      <input type="text" class="form-control" id="description" placeholder="ex: good restaurant..." name="description"
        value="{{restaurant.description}}">
    </div>
    {{!-- Create Button --}}
    <button type="submit" class="btn btn-success mt-2" style="color:white;font-family: 'Balsamiq Sans', cursive;">Create
    </button>
    {{!-- Back Link --}}
    <button type="button" class="btn btn-warning mt-2">
      <a href="/" style="text-decoration:none;color:black;font-family: 'Balsamiq Sans', cursive;">Back</a>
    </button>
  </form>
</div>