{{!-- Detail info --}}
<h1>{{ restaurant.name}}</h1>
<h2>{{ restaurant.name_en}}</h2>
<h3>{{ restaurant.category}}</h3>

{{!-- Edit Link --}}
<a href="/restaurant/{{restaurant._id}}/edit">edit</a>

{{!-- Delete Button --}}
<form action="/restaurant/{{restaurant._id}}/delete" method="POST" style="display:inline">
  <button type="submit">delete</button>
</form>

{{!-- Back Link --}}
<a href="/">Back</a>